@page
@model Proyecto_Ciclo3.App.Frontend.Pages.FormRutaModel


 
<div class="text-center" >
<form method="POST">
 

  <label for="origen" class="form-label">Origen:</label>
  <input type="text" class="form-control" id="origen" name="origen" placeholder="origen" required minlength="3" >
  <label for="destino" class="form-label">Destino:</label>
  <input type="text" class="form-control" id="destino" name="destino" placeholder="destino" required >
  <label for="tiempo_estimado" class="form-label">Tiempo Estimado:</label>
  <input type="String" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="tiempo_estimado" required>

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
