@page
@model Proyecto_Ciclo3.App.Frontend.Pages.EditRutaModel
@{
    var ruta = Model.Ruta;
}

 
<div class="text-center">
<form method="POST">
  <label for="id" class="form-label">id:</label>
  <input type="number" class="form-control" id="id" name="id" placeholder="id" asp-for="@ruta.id">
  <label for="origen" class="form-label">Origen:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="origen" asp-for="@ruta.origen">
  <label for="destino" class="form-label">Destino:</label>
  <input type="number" class="form-control" id="destino" name="destino" placeholder="destino" asp-for="@ruta.destino">
  <label for="tiempo_estimado" class="form-label">Tiempo estimado:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="tiempo_estimado" asp-for="@ruta.tiempo_estimado">
   <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
