@page
@model Proyecto_Ciclo3.App.Frontend.Pages.FormAeropuertoModel
@{
}
 
<div class="text-center" >
<form method="POST">
 

  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required minlength="3" >
  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="ciudad" required >
  <label for="pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" id="pais" name="pais" placeholder="País" required>
  <label for="coord_x" class="form-label">coord_x</label>
  <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="coord_x" required>
  <label for="coord_y" class="form-label">coord_Y</label>
  <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="coord_y" required > 

  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
