 
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class=" white-text-container background-image-container" >
    <div class="opacity"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color:#FFFFFF" >Empresa Fly Emirates</h1>
                <p style="color:#FFFFFF" > Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Adipiscing commodo elit at imperdiet dui accumsan sit. Ipsum dolor sit
                    amet consectetur adipiscing elit. </p>
               
            </div>

        </div>
    </div>
</div>
<div class="section-container border-section-container">
    <div class="container">
            <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>Conozca más sobre nosotros </h2>
                        <p> Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing.<br> Porta non
                            pulvinar neque laoreet. Viverra ipsum nunc aliquet bibendum. </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="fa-container">
                        <i class="fas fa-plane-arrival fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Aviones</h3>
                    </div>
                    <div>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Porta
                            non pulvinar neque laoreet. Viverra ipsum nunc aliquet bibendum. Iaculis urna id volutpat lacus.
                            Turpis egestas pretium aenean pharetra magna ac.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <i class="fas fa-globe-africa fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Aeropuertos</h3>
                    </div>
                    <div>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Porta
                            non pulvinar neque laoreet. Viverra ipsum nunc aliquet bibendum. Iaculis urna id volutpat lacus.
                            Turpis egestas pretium aenean pharetra magna ac.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fa-container">
                        <i class="fas fa-map-marked fa-3x " aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Rutas</h3>
                    </div>
                    <div>
                        <p>Auctor augue mauris augue neque. Posuere lorem ipsum dolor sit amet consectetur adipiscing. Porta
                            non pulvinar neque laoreet. Viverra ipsum nunc aliquet bibendum. Iaculis urna id volutpat lacus.
                            Turpis egestas pretium aenean pharetra magna ac. 
                        </p>
                    </div>
                </div>

            </div>
    </div>
</div>


</div>
